#controls: {
	
}

html,
body {
  background: #1b5c8c;
  color: #ededed;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: light;
  line-height: 1.5;
  letter-spacing: 0.7px;
  -webkit-font-smoothing: antialiased;
   }